<!doctype html>
<html lang="en-US">
<head>
    <title>Meong</title>
    <!-- Meta -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- End of Meta -->
    <link rel="icon" href="img/icon.png" />
    <!-- CSS files -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/prettify.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- End of CSS files -->
</head>
<body>
    <!-- Contents goes here -->
    <div class="container contents">
        <div class="row">
            <div class="col-md-8">
                <img src="img/icon.png" class="logo-muka" />
                <h1 class="welcome">
                    Selamat datang di Meong.
                </h1>
                <h4 class="welcome">
                    Meong itu sebuah jejaring sosial buat kamu yang suka <i>ngoding</i>,
                    tukeran visi / misi, atau cuman sekedar ngebanyol sama temen-temen kamu.
                </h4>
                <pre class="prettyprint linenums lang-js">
function fibonacci(n) {
    var a = 1, b = 1;
    var tmp;
    while (--n >= 0) {
        tmp = a;
        a += b;
        b = tmp;
    }
    return a;
}
document.write(fibonacci(10));
                </pre>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3>Masuk</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/masuk" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Masukin email atau username" name="username" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Kata sandi" name="password" />
                            </div>
                            <button type="submit" class="btn btn-info">Masuk</button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3>Daftar</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="/daftar" method="POST">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Masukin email" name="email" />
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Nama panjang" name="fullName" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Kata sandi" name="password" />
                            </div>
                            <button type="submit" class="btn btn-warning">Daftarin di Meong</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of contents -->

    <!-- Javascript section -->
    <!-- jQuery -->
    <script src="js/vendor/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- Bootstrap -->
    <script src="js/vendor/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- Lo-Dash -->
    <script src="js/vendor/lodash.compat.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- Google Prettify -->
    <script src="js/vendor/google-code-prettify/prettify.js" type="text/javascript" charset="utf-8"></script>
    <!-- App -->
    <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
    <!-- End of javascript section -->
</body>
</html>
