<!doctype html>
<html lang="en-US">
<head>
    <title>Rumah</title>
    <!-- Meta -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- End of Meta -->
    <link rel="icon" href="img/icon.png">
    <!-- CSS files -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- End of CSS files -->
</head>
<body>
    <!-- Contents goes here -->
    <div class="container contents">
        <div class="row">
            <h1 class="center welcome">Selamat datang di Rumah kamu</h1>
            <h3 class="center welcome"><%- pesan %></h3>
            <p>Fixme please :(</p>
        </div>
    </div>
    <!-- End of contents -->

    <!-- Javascript section -->
    <!-- jQuery -->
    <script src="js/vendor/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- Bootstrap -->
    <script src="js/vendor/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- Lo-Dash -->
    <script src="js/vendor/lodash.compat.min.js" type="text/javascript" charset="utf-8"></script>
    <!-- App -->
    <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
    <!-- End of javascript section -->
</body>
</html>
